@model ModelZavady
@{
    ViewData["Title"] = "Register závada";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/loginNem.css" />
}
@{
    if (Model != null && Model.najemniks != null)
    {
        <div class="section">
            <div class="form-value">
                <form asp-action="RegisterZavada" method="post" enctype="multipart/form-data">

                    @{
                        if (ViewBag.chyba != null)
                        {
                            string chyby = @ViewBag.chyba;
                            string[] pole = chyby.Split("\n");
                            foreach (var item in pole)
                            {
                                <span class="text-danger">@item</span>
                                <br />
                            }
                        }
                    }
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="@Model.idNemovitost" type="hidden" />
                    <div>
                        <div class="inputbox">
                            <input asp-for="@Model.datumNahlaseniFull" type="date">
                            <label for="">Datum nahlášení</label>
                        </div>

                        <div class="inputbox">
                            <input asp-for="@Model.datumOpravyFull" type="date">
                            <label for="">Datum opravy</label>
                        </div>
                        <div class="inputbox">
                            <input asp-for="@Model.cenaOpravy" type="number">
                            <label for="">Cena opravy</label>
                        </div>

                        <div class="inputbox">
                            <input asp-for="@Model.nazevOpravare" type="text">
                            <label for="">Kdo provedl opravu</label>
                        </div>

                        <div class="inputbox">
                            <input asp-for="@Model.popisZavady" required type="text">
                            <label for="">Popis závady</label>
                        </div>

                        <div class="inputbox">
                            <input asp-for="@Model.popisOpravy" type="text">
                            <label for="">Popis opravy</label>
                        </div>

                        @{
                            if (Model != null && Model.najemniks != null)
                            {
                                <label asp-for="idNajemnik">Vyber nájemníka:</label>
                                <br />
                                <select asp-for="@Model.idNajemnik">
                                    @foreach (var najemnik in Model.najemniks)
                                    {
                                        <option value="@najemnik.ID">@najemnik.jmeno | @najemnik.prijmeni | @najemnik.rodneCislo</option>
                                    }
                                </select>
                            }
                        }
                    </div>



                    <button type="submit">Vytvořit závadu</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <h1>není evidován nájemník</h1>
    }
}

