@using Microsoft.AspNetCore.Routing
@model HistorieDodatkuViewModel

@{
    ViewData["Title"] = "Historie smluv";
}
@section Styles
    {
    <link href="~/css/Stranky.css" rel="stylesheet">

                    }
@{
    if (@Model != null)
    {
        int pocetZaznamuNaStrance = 20;
        <h1>Nemovitost</h1>
        <p>Typ nemovitosti: @Model.modelNemovitost.optionNemovitost.Volba</p>
        <h3>Adresa</h3>
        <p>Ulice a číslo popisné: @Model.modelNemovitost.adresa.UliceACisloPop</p>
        <p>Obec: @Model.modelNemovitost.adresa.Obec</p>
        <p>PSČ: @Model.modelNemovitost.adresa.Psc</p>
        <h1>Smlouva</h1>
        <h3>Platnost</h3>
        @Model.modelSmlouva.platnaOd.ToShortDateString()

        @Model.modelSmlouva.platnaDo.ToShortDateString()
        <h3>Nájemník</h3>
        <p>@Model.najemnik.jmeno @Model.najemnik.prijmeni</p>
        <p>+@Model.najemnik.predvolby.predvolba @Model.najemnik.telefon</p>
        <p>@Model.najemnik.email</p>

        if (Model.dodateks != null)
        {
            <div style="text-align:center;">
                @{
                    int t = 0;
                    if (Url.ActionContext.HttpContext.Request.Query.ContainsKey("page")) t = Int32.Parse((string)Url.ActionContext.HttpContext.Request.Query["page"]);
                    int smlouva = 0;
                    if (Url.ActionContext.HttpContext.Request.Query.ContainsKey("smlouva")) smlouva = Int32.Parse((string)Url.ActionContext.HttpContext.Request.Query["smlouva"]);
                    @for (int i = 0; i < MathF.Ceiling((float)Model.dodateks.Count / pocetZaznamuNaStrance); ++i)
                    {
                        if (t == i)
                        {
                            <a style="color:darkred;font-size:large;font-weight:bold;" class="cislastranek">@(i + 1)</a>
                        }
                        else
                        {   
                            <a class="cislastranek" asp-action="ZobrazHistoriiDodatku" asp-route-smlouva="@smlouva" asp-route-page="@i">@(i + 1)</a>
                        }
                    }
                }
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Platná od
                        </th>
                        <th>
                            Platná do
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (int i = 0; i < Model.dodateks.Count && i < pocetZaznamuNaStrance; ++i)
                        {
                            t = 0;
                            if (Url.ActionContext.HttpContext.Request.Query.ContainsKey("page")) t = Int32.Parse((string)Url.ActionContext.HttpContext.Request.Query["page"]);
                            if (t * pocetZaznamuNaStrance + i >= Model.dodateks.Count) continue;
                            var item = Model.dodateks[t * pocetZaznamuNaStrance + i];
                            <tr>
                                <td>
                                    @item.datumPlatnosti
                                </td>
                                <td>
                                    @item.typyDodatku.TypDodatku
                                </td>
                                <td>
                                    <a asp-action="StahniDodatek" asp-route-id="@item.Id">Stáhnout dodatek</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
}