@using Microsoft.AspNetCore.Routing
@model IEnumerable<ModelNemovitost>
@{
    ViewData["Title"] = "Home Page";
}
@section Styles
    {
    <link href="~/css/Stranky.css" rel="stylesheet">

                    }
@{
    if (Model != null)
    {
        <div style="text-align:center;">
            @{
                int t = 0;
                if (Url.ActionContext.HttpContext.Request.Query.ContainsKey("page")) t = Int32.Parse((string)Url.ActionContext.HttpContext.Request.Query["page"]);
                @for (int i = 0; i < MathF.Ceiling((float)Model.ToList().Count / 6); ++i)
                {
                    if (t == i)
                    {
                        <a style="color:darkred;font-size:large;font-weight:bold;" class="cislastranek">@(i + 1)</a>
                    }
                    else
                    {
                        <a class="cislastranek" asp-action="MeNemovitosti" asp-route-page="@i">@(i + 1)</a>
                    }
                }
            }
        </div>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    @{
                        IList<ModelNemovitost> data = Model.ToList();
                        for (int i = 0; i < data.Count && i < 6; ++i)
                        //foreach (var item in Model)
                        {
                            t = 0;
                            if (Url.ActionContext.HttpContext.Request.Query.ContainsKey("page")) t = Int32.Parse((string)Url.ActionContext.HttpContext.Request.Query["page"]);
                            if (t * 6 + i >= data.Count) continue;
                            var item = data[t * 6 + i];

                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    @if (item.fotografie != null && item.fotografie.Count > 0)
                                    {
                                        <img class="card-img-top" src="@item.fotografie[0].ImageSrc" alt="foto nemovitosti" />
                                    }

                                    <div class="card-body p-4">
                                        <div class="text-center">


                                            @if (item.adresa != null && item.dispoziceNemovitosti != null)
                                            {
                                                <h5 class="fw-bolder">@item.dispoziceNemovitosti.Dispozice | @item.adresa.UliceACisloPop</h5>
                                            }


                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                                        <div class="text-center">
                                            <a asp-action="DetailNemovitosti" asp-route-id="@item.ID" class="btn btn-outline-dark flex-shrink-0">Popis</a>
                                        </div>
                                        <div class="text-center">
                                            <a asp-action="EditNemovitost" asp-controller="Nemovitost" asp-area="Vlastnik" asp-route-id="@item.ID" class="btn btn-outline-dark flex-shrink-0">Editace nemovitostí</a>
                                        </div>

                                        <div class="text-center">
                                        </div>


                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </section>

    }
}

@section Scripts
    {
    <link href="~/css/Products.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
                    }
